.flex-box{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    height: 50px;

    




}
.left{
    
    display: flex;
    
}
.middle{
    display: flex;
}
input{
    
    
}